@import "_variables";
@import "_mixins";

.input {
    
    border: none;
    background: transparent;
    color: $white;
    font-size: 20px;
    width: 100%;
    text-align: center;

    @include respond-above(sm) {
        font-size: 30px;
    }

    &::placeholder {
        color: $white;
    }

    &:focus {
        outline: none;
    }
}